.bluetooth-battery-bt-icon {
    margin-right: 2px;
}

.bluetooth-battery-vertical-icon {
    margin-left: 0;
    margin-right: 0;
}

.bluetooth-battery-panel-label {
    font-size: 0.85em;
    margin-left: 4px;
}

.bluetooth-battery-menu-percent {
    font-size: 0.9em;
    min-width: 36px;
    margin-left: 8px;
}
